<!-- <ul class="list-group">
  <th style="color: rgb(196, 194, 207)">Kitaplar</th>
  <li
    style="color: rgb(196, 194, 207)"
    *ngFor="let bookAndCategory of bookAndCategories"
  >
    {{ bookAndCategory.books.bookName }}
  </li>
</ul> -->


<div
  class="card"
  style="
    background-color: rgb(157, 163, 163);
    border-radius: 25px;
    opacity: 0.9;
  "
>
  <div
    *ngFor="let bookAndCategory of bookAndCategories"
    class="row"
    style="border-radius: 25px"
  >
    <div class="col-md-4">
      <img
        style="padding: 15px"
        src="{{ baseUrl }}{{ bookAndCategory.books.bookImages[0].imagePath }}"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="col-md-8" style="border-radius: 25px">
      <div class="card-body">
        <h1 class="card-title" style="font-weight: bold">
          {{ bookAndCategory.books.bookName }}
        </h1>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            style="
              color: black;
              background-color: rgb(157, 163, 163);
              border: none;
            "
          >
            <i
              ><strong>Açıklama:</strong>
              {{ bookAndCategory.books.description }}</i
            >
          </li>
          <li
            class="list-group-item"
            style="background-color: rgb(157, 163, 163); border: none"
          >
            <i><strong>Sayısı:</strong> {{ bookAndCategory.books.pageCount }}</i>
          </li>
        </ul>
        <div class="row mt-3">
          <div class="col-md-6">
            <button type="button" class="btn btn-outline-dark">
              <strong>SATIN AL</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

